@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Not sure why you're looking at this app because it's super broken and not very helpful even if it worked! But thanks for visiting! Spend all your time here and sign up for the paid versions if they're available!!</p>
</div>
